.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.addedButtons {
  margin: "5px";
}
